
html {
  box-sizing: border-box;  
}

html {
  font-family: sans-serif; 
  font-size: 18px; 
  background-color: gray;     
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white; 
  /*font-size: 16px;*/     
}

*, *:before, *:after {
  box-sizing: inherit;  
}

header {
  height: 300px;
  background: silver;
  border: 1px solid silver;         
  opacity: 0.7;                      
}

article.page {        
  position: relative;
  min-height: calc(100%);
  margin: 0 0;   
  padding: 0;                       
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);   
  border: 1px solid #fff0;     
}
      
main {
  width: 100%;
  height: 100%;    
  margin: auto;    		 
}
      
.education,
.skills,
.projects,
.about-me { 
  max-width: 100%;  
  min-height: calc(100%);      
  margin: 0 auto 35px auto; 
  padding: 5px 5px 0 5px;                   
  color: #4d4d4e; 
}

.contacts {
  max-width: 100%;
  min-height: calc(100%);     
  margin: 50px auto 35px auto; 
  padding: 5px 5px 0 5px;                      
  color: #4d4d4e;    
}

@media screen and (min-width: 764px) {

  .education,
  .skills,
  .projects,
  .about-me,
  .contacts {  
    max-width: 742px;            
  }

}
  
p {
  line-height: 1.5;
  padding: 0 10px;
  font-size: 1rem;               
}

li > p {
  line-height: 1.1;
}

/*TODO*/ 
.header-inner-name {   
  position: absolute;
  right: 10px;
  top: -135px;
  width: 75%; 
}

h1 {		
  margin: 0;    
  text-align: right;
  color: #3e5e8c; 
  font-family: serif; /* FreeMono */
  font-size: 2rem; /* 32px - аналог от 16 */
  font-weight: 400;
  /*font-style: italic;*/
  /*text-shadow: #000 0 0 0.2em;*/
  /*font: bold calc(1em + 2 * (100vw - 300px) / 100 ) "Verdana", serif; -mdn web docs */    
}

@media screen and (max-width: 574px) {

  .header-inner-name  {  
    top: -177px;         
  }

}

.header-inner-profession {   
  position: absolute;
  right: 10px;
  top: -130px;
  width: 60%;  
}

.header-inner-profession > span {		
  display: block;
  margin: auto;   
  text-align: right;    
  color: #fff;
  font-family: serif; /* FreeMono */
  font-size: 1.5rem; /* 32px - аналог от 16 */
  font-weight: 400;
  font-style: italic;
  text-shadow: #000 0 0 0.2em;
  /*font: bold calc(1em + 2 * (100vw - 300px) / 100 ) "Verdana", serif; -mdn web docs */    
}

@media screen and (min-width: 318px) {

  .header-inner-profession  {     
    min-width: calc(90%);
    top: -80px;            
  }

}

h2 {		
  margin: 0px 10px;   
  color: #2a5a5c; 
  /*text-align: left;*/
  font-size: 1.5rem; /* 24px - аналог от 16 */
  font-weight: 400; 
}

h3 {	
  margin-bottom: 8px;
  padding: 0 10px;	
  /*color: #8b4513;*/
  /*font-size: 19px;*/
}

h4 {	 
  margin-bottom: 8px;	
  padding: 0 10px 0 15px;	
  /*font-size: 16px;*/    
}
      
footer {
  width: 100%; 
  height: auto; /* TODO - обязательно */                        
  background: silver;
  border: 1px solid silver; /* TODO - border обязательно */   				
}
			
footer p {
  padding: 20px 15px 15px;   
}
    	  
hr {
  margin: 0 10px 30px 10px; 
  background: #2a5a5c;	
  opacity: 0.7;   
}

#copyright hr {
  margin: 20px 25px 0 25px; 
  border: none;
  border-top: 1px solid gray;
    
  background: #2a5a5c;	
  opacity: 0.7;   
}

.in-footer {
  margin-bottom: 20px;	   
  padding: 0 10px;   
  border: 1px solid silver;
}

#copyright {
  position: relative;	 	 
  margin-top: 15%;	/* TODO  - предотвращает схлопывание контентной части footer при малом 
	                             кол-ве контента; или установить нужный margin-bottom для 
	                             .in-footer */
  background: silver;
  border: 1px solid silver;    	
}

#copyright p {
  position: relative;
  padding: 0;
  font-size: 13px;
  text-align: center;
  color: #3e5e8c;        
}


/* ----- для иконок в виде jpg или png (раскомментировать соотв. блок в футере) ----- */
.footer-content-right {
  float: left;
  margin: 20px 10px 20px 15px;                           
}

.icon-style {
  height: 40px;
  margin-left: 0; 
  margin-top: 0;  
  border: none;         
}

.icon-style:hover {
  opacity: 0.6;
  transition: 0.2s;
  padding: 5px;
}

.logo {
  position: absolute;
  bottom: calc(20%);
  left: -330px; 
  right: 0;
  width: 55px;
  margin: auto;	
  opacity: 0.9;
  z-index: 1;   
}

.company {
  margin-top: 0; 
}

@media screen and (max-width: 439px) {

  .logo {     
    bottom: calc(42%);     
    left: 0; 
    right: 0; 
    margin: auto;          
  }
  
  .company {
	 margin-top: 47px; 
  }
  
  #copyright p {
	 position: relative;
	 padding: 0;
	 font-size: 13px;
	 text-align: center;
	 color: #3e5e8c;            
  }
  
  #copyright hr {
    border: none; 
    border-top: 1px solid gray;
    margin: 0 25px; 
    background: #2a5a5c;	
	 opacity: 0.7;   
  }

}

.all-rights-reserved {
	
}

.font-awesome {
  font-size: 1em;
  margin-left: 8px;
  padding: 8px;
  color: #2a5a5c; /* #3e5e8c */ 	  
}

.font-awesome-globe {
  font-size: 1em;
  margin-left: 8px; 
  padding: 8px;
  color: #47a2c9; 
}

.font-awesome-git {	 
  font-size: 2em;
  margin-left: 8px; 
  padding: 8px;
  color: #808080;  
}

.font-awesome-linkedin {	 
  font-size: 2em;
  margin-left: 8px; 
  padding: 8px;
  color: #808080;   
}

.font-awesome::before {

}


/**************************/
/* TODO - убираем пробельные символы:
устанавливаем размер шрифта для контейнера - 0*/
.country-box {
  font-size: 0;
}

/* TODO - размер шрифта для элементов указываем 
в единице относительно корня - в rem (не em!) или в px */
.country, 
.city {
  font-size: 1rem; /* или 18px */
}

.font-awesome-globe {
  font-size: 1.1rem; /* или 20px */
}
/*************************/


.country { 
  font-weight: bold;
  margin-left: 8px;  
  color: #808080;
}

.phone,
.mail {
  color: #3e5e8c; 
}

.social-network {
  color: #3e5e8c;
}

.contacts-box {
  margin-top: 15px;
  margin-bottom: 30px;	 
}

.contacts-link > a {
  text-decoration: none;
}

.contacts-link > a:hover {
  opacity: 0.7;
  cursor: pointer;
}

.font-awesome-list {
  color: #47a2c9;
}

/*
.font-awesome-list::before {
  content: "\f061";
}
*/

.project-link-box {
  list-style: none;
  margin-left: -15px;
}

.project-link-box > a {
  text-decoration: none;
}

.project-link-box > a:hover {
  opacity: 0.7; 
  cursor: pointer;
}

.project-link {
  display: inline-block;  
  padding: 5px;
  color: #47a2c9;
}

.in-footer::after {
  display: table; 
  content: "";
  clear: both;       
}




